.darkBG {
    background-color: #17223b !important;
}

.darkText {
    color: rgba(255, 255, 255, 0.92) !important;
}

.darkText:hover {
    color: rgba(255, 255, 255, 0.92) !important;
}

.pinkText {
    color: #e54242 !important;
    background: green !important;
}

.bannerTextDark {
    background-color: #e54242 !important;
}

.borderMarkerDark::after {
    background-color: rgba(229, 66, 66, 0.9) !important;
}

.darkBGLight {
    background-color: #1f2b46 !important;
}

.logoDark {
    border: 2px solid white !important;
}

.logoDarkLrg {
    padding: 5rem 1rem;
    border: 3px solid #f3f3f3 !important;
}

.smallGridDarkBG {
    background-color: #17223b !important;
}